.Page{
    background: #eee;
    height:98%;
    width:100%;
    border-radius:20px;
    display: flex;
    box-shadow:1px 4px 10px rgba(0,0,0,.4);
    .componentes{
        // background:red;
        width:80%;
        border-radius: 0px 20px 20px 0px;

        .componentes__info{
            // background: teal;
            height:90%;
            overflow-y:auto;
        }
    }
    .signout{
        // background:blue;
        border-radius: 0px 20px 0px 0px;
        display:flex;
        justify-content: flex-end;
        height:8vh;
        align-items: center;
        padding-right:20px;
        .btn-dark{
            background: none;
            color:#262626;
            border: none;
            box-shadow: none;
            text-shadow: 1px 2px 2px rgba(0,0,0,.2);
            text-decoration: underline;
        }
    }
}
