.practica{
    .practica__info{
        // background: yellowgreen;
        padding:15px;
    }
    .practica__aceso{
        // background: yellow;
        padding: 20px;

        
    .alert{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            font-size: 20px;
        }
        i{
            font-size: 40px;
        }
        
    }
}
}