.table{
    .table-header{
        background: #009ccf;
        color:#eee;
    }
    td{
        font-size: 17px;
        .bx-check{
            color:#52d152;
        }
        .bx-x{
            color:red
        }
        i{
            font-size: 2rem;
         
            text-shadow: 1px 1px 1px rgba(0,0,0,.2);

           
        }
    }
}