.container{
    /* background: #262626; */
    height:100vh;
    display: flex;
    align-items: center;
}


@media only screen and (max-width:600px){
    .container{
        background: #eee;
        padding:0;
    }
    
}